.ruka{
  cursor: pointer;
  font-weight: lighter;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-size: xx-large;
  color: #000080;
}

.desno{
  text-align: right;
}

.sredina{
  text-align: center;
}

.siroko{
  width: 100%;
}

.akcije{
  margin-top: 20px;
}

.slika1{
  max-width: 500px;
}